{% extends 'ornek1.html' %}
{% block start_page %}

<h3>About Us</h3><!--h3 ile başlık atarız, site içi normal yazı yazmak için herhangi bir şey koymadan direkt yaz.-->

<hr>

WeWork is an American commercial real estate company that provides flexible shared workspaces for technology startups and services for other enterprises. WeWork designs and builds physical and virtual shared spaces and office services for entrepreneurs and companies. Founded in 2010, its headquarters are in New York City. As of 2018, WeWork managed over four million square metres. WeWork's parent company was named The We Company, now WeWork.

The company gained mainstream media attention in 2019 with its failed initial public offering (IPO) of company stock. The Wall Street Journal noted that upon the release of its public prospectus in August 2019, the company was "besieged with criticism over its governance, business model, and ability to turn a profit." WeWork lost over $2 billion in 2018.[9] In September 2019, following mounting pressure from investors based on disclosures WeWork had made in its S-1 filing for the IPO, company co-founder Adam Neumann resigned from his position as CEO and gave up majority voting control in WeWork. Amid growing investor concerns over its corporate governance, valuation, and outlook for the business, WeWork formally withdrew its S-1 filing and announced the postponing of its IPO. At that time, the reported public valuation of the company was around $10 billion,a reduction from the $47 billion valuation it achieved in January and less than the $12.8 billion it had raised since 2010.

<hr>

{% endblock start_page %}